nav {
    position: absolute;
    width: 100%;
    height: 7.4%;
    left: 0px;
    top: 0px;
    background: #000000;
}

.nav-image {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 3.2%;
    top: 28.9%;
    background: url(film.png);
}

.nav-quiz {
    position: absolute;
    width: 21.1%;
    height: 4%;
    left: 9.7%;
    top: 39.5%;

    font-family: BBTreeGo_R;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
}

.nav-rank {
    position: absolute;
    width: 21.1%;
    height: 2%;
    left: 16.9%;
    top: 39.5%;

    font-family: BBTreeGo_R;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height */
    color: #9E9E9E;
}

.status-bar {
    position: absolute;
    width: 82.8%;
    height: 1.2%;
    left: 8.5%;
    top: 12%;

    background: #DADADA;
    border-radius: 10px;
}

.question-title {
    position: absolute;
    width: 13%;
    height: 2.3%;
    left: 12.6%;
    top: 19%;

    font-family: BBTreeGo_R;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */
    color: #828282;
}

.question-content {
    position: absolute;
    width: 42.2%;
    height: 2.3%;
    left: 15.6%;
    top: 24.5%;

    font-family: BBTreeGo_R;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    /* identical to box height, or 86% */
    color: #000000;
}

.question-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 82.9%;
    height: 12.8%;
    left: 8.5%;
    top: 30.8%;

    background: #FFF6D8;
}

.quiz-content-hint {
    margin-right: 30px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    text-align: center;

    color: #000000;
}

.quiz-content-quiz {
    flex-grow: 0;
    background-color: #fed130;

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
}

.answer-box-title {
    position: absolute;
    width: 28px;
    height: 24px;
    left: 33%;
    top: 51.6%;

    font-family: BBTreeGo_R;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #000000;
}

.answer-box-content {
    display:flex;
    align-items: center;
    justify-content: center;
    
    position: absolute;
    width: 378px;
    height: 60px;
    left: 36.9%;
    top: 49.8%;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.next-button {
    position: absolute;
    width: 243px;
    height: 60px;
    left: 599px;
    top: 642px;

    color:#FFFFFF;;
    font-family: BBTreeGo_R;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    
    background: #000000;
    border-radius: 10px;
}