.HeaderBar {
    height: 76px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 10px;
    margin-left: 20px;
    width: 42px;
    height: 42px;
}

.AboutUser {
    margin: 20px;
}

.header-menu {
    margin-left: 20px;
}